<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.weiye.zl">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/shayu"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="c09608b54c15246d0078d663" />

        <activity
            android:name=".VedioPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyMaterialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IdealActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FourSchoolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScienceStationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeacherStyleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SchoolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SchoolWeiChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppearanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                           
                <data android:scheme="tencent100371282" />
                         
                <action android:name="android.intent.action.VIEW" />
                        
                <category android:name="android.intent.category.BROWSABLE" />
                      
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- 新浪微博客户端分享回调必须配置 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.sharesdk.demo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LeadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubmitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.weiye.photoshow.ImagePagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingInternetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SchoolHtmlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.weiye.manager.ApplyDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.weiye.mycourse.MyCoruseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShiZiActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MyBabyActivity" />
        <activity android:name=".WebActivity" />
        <activity android:name=".TiShiActivity"></activity>
    </application>

</manifest>